@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .calculator-button {
    @apply p-4
       border
       dark:border-slate-600
       dark:text-slate-500
       dark:hover:text-slate-300
       dark:shadow-2xl
       rounded
       transition-shadow
       hover:shadow
       text-2xl;
  }
}
